[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
black = "*"
isort = "*"
python-decouple = "*"
graphene-django = "*"
graphql-core = "*"
django = "==3.2.14"

[dev-packages]

[requires]
python_version = "3.9"
